

body {
    margin:  0;  
    width: 16.8cm; 
    height: 28cm;
    background-image: url(https://r1.ilikewallpaper.net/iphone-se-wallpapers/download/32566/Nature-Sunny-Bright-Sky-View-iphone-se-wallpaper-ilikewallpaper_com.jpg) ; 
    background-repeat: no-repeat;   
    color: white; 
    font-family: 'Barlow', sans-serif;
}

.header{
    margin: 0.5vw 0 0 0 ; 
    display: grid;
    grid-template-columns: 1.67cm 1.66cm 1.67cm auto 1cm 1cm 1cm 1cm 1cm; 
    grid-template-rows: 1fr; 
    justify-items: center;
    align-items: start;
    width: 16.8cm; 
    height: 1cm; 
   

}

.img {
    color: white; 
  
}

.block1{
    text-align: center; 
    margin: 5vw 0 0 0 ;
}

    h1{
        font-size: 16vh; 
        margin: 2vh 0; 
    }

    h2{
        font-size: 6vh; 
        margin: 0 0 0 0; 
    }

    h4{
        font-size: 3.5vh;
        margin: 1vh 0; 
    }
    h4.grey {
        margin: 1vh 0; 
        color: grey;  
    }

    h5{
        font-size: 3vh;
        margin: 0;    
    }

.block2{
    display: grid;
    grid-template-columns: 4.2cm 4.2cm 8.4cm;
    text-align: left; 
    margin: 4vw 0 0 2vw;
    padding: 0 0 0 0;
    
}

    .item-a {
        display: grid;
        grid-template-columns: 2cm 2cm; 
        justify-self: right;
        margin: 0 1.5vw; 
    }

.block3{
    display: grid;
    margin: 0.5vw 0 0 0; 
    justify-items: center; 
    padding: 1vw 0; 
    grid-template-columns: 2.8cm 2.8cm 2.8cm 2.8cm 2.8cm 2.8cm;
    grid-template-rows: 1.5cm 1.5cm 1.5cm;
    text-align: center; 
    border-bottom: 1px solid white;   
    border-top:  1px solid white;   
}
    .imgSun {
        justify-self: center;
        padding: 1vw 0; 
        height: 4vh;
        width: auto; 
    }

    .imgSunHor {
        justify-self: center; 
        height: 4vh;
        width: auto; 
    }

.block4{
   
    display: grid;
    padding: 1vh 1.5vw 0 2vw; 
    grid-template-columns: 5.5cm 4.3cm 7cm;
    text-align: left; 
}

.footer {
    border-top:  1px solid white;   
    display: grid;
    justify-items: center; 
    padding: 1vw 0; 
    grid-template-columns: 7cm 2.8cm 7cm; 
}

        .imgyahoo {
            justify-self: left; 
            padding: 0 0 0 2vw; 
        }
        .tab{
            justify-self: right;
            padding: 0 2.8vw 0 0;
        }

        .item-b{
            padding: 0.5vh 0; 
        }